In [1]:
if True:
    print(True)
else:
    print(False)

True

In [2]:
a = "abc"
b = "abc"
if a == b:
    print(True)
else:
    print(False)

True

In [3]:
c = 10
d = 10
if c == d:
    print(True)
else:
    print(False)

True

In [4]:
print(a != b)

False

In [5]:
print(c != d)

False

In [7]:
print(c >= d)

True

In [8]:
print(c <= d)

True

In [9]:
print(c == d)

True

In [10]:
print(c != d)

False

In [11]:
print(c < d)

False

In [12]:
print(c > d)

False

In [14]:
print(True or False)

True

In [15]:
print(not False)

True

In [17]:
x = True
y = True
print(x and y)

True

In [18]:
print(not x)

False

In [21]:
print(not x or not y)

False

In [22]:
print(not x and y)

False

In [24]:
print("i" in "inc")

True

In [25]:
print("i" in "banana")

False

In [28]:
print(x is True)

True

In [29]:
print(x is False)

False

In [33]:
if a != a:
    print(False)
elif a == a:
    print(False)

False

In [34]:
my_list = [0,1,2,3,4,5]
for i in range(6):
    print(my_list[i])

0
1
2
3
4
5

In [42]:
my_list_a = my_list[::2]
for i in range(3):
    print(my_list_a[i])

0
2
4

In [43]:
my_list_b = my_list[1::2]
for i in range(3):
    print(my_list_b[i])

1
3
5

In [45]:
for i in range(6):
    if my_list[i] == 3:
        print(my_list[i])

3

In [47]:
my_list_c = my_list[2:5]
for i in range(len(my_list_c)):
    print(my_list_c[i])

2
3
4

In [48]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in range(len(my_list)):
    if my_list[i] == "okinawa":
        print(my_list[i])

okinawa

In [50]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in range(len(my_list)):
    if my_list[i] != "tokyo":
        print(my_list[i])

okinawa
osaka
fukuoka
hokkaido

In [51]:
for i in range(len(my_list)):
    if len(my_list[i]) >= 6:
        print(my_list[i])

okinawa
fukuoka
hokkaido

In [52]:
my_list = [0,1,2,3,4,5]
j = 0
for i in range(len(my_list)):
    j += my_list[i]
print(j)

15

In [53]:
j = 0
for i in range(len(my_list)):
    if my_list[i] % 2 == 0:
        j += my_list[i]
print(j)

6

In [54]:
j = 0
for i in range(len(my_list)):
    if my_list[i] % 2 != 0:
        j += my_list[i]
print(j)

9

In [58]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [60]:
for i in range(11):
    if i <= 3:
        print(i)

0
1
2
3

In [61]:
for i in range(11):
    if i != 3:
        print(i)

0
1
2
4
5
6
7
8
9
10

In [62]:
my_str = 'okinawa'
for i in range(len(my_str)):
    print(my_str[i])

o
k
i
n
a
w
a

In [65]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in range(len(my_list)):
    print(my_list[i].upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [73]:
a = 0
while True is True:
    a+=1
    if a < 10:
        print(a)
    else:
        break

1
2
3
4
5
6
7
8
9

In [74]:
a = 0
while True is True:
    a+=1
    if a < 10:
        if a % 2 == 0:
             print(a)
    else:
        break

2
4
6
8

In [95]:
f = open("Hello.txt","w",encoding='utf-8')
f.close()

In [77]:
ls

7_20_1.ipynb  Hello

In [84]:
import os
print(os.getcwd())

/home/c20027/PG3/CH2/7_20

In [98]:
with open("HelloPython.txt","w") as hp:
    hp.write("Hello Python!!")

In [99]:
with open("HelloPython.txt") as hp:
    hptxt = hp.read()
    my_list.append(hptxt)

In [100]:
print(my_list)

['okinawa', 'tokyo', 'osaka', 'fukuoka', 'hokkaido', 'Hello Python!!']